
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">Hilariash!</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#videos">All of The Videos. All of them.</a></li>
      <li><a href="#mostViews">Most Views</a></li>
      <li><a href="#mostLikes">Most Likes</a></li>
      <li><a href="#aboutTracey">About Tracey & Why You Should Hire Her</a></li>


    </ul>
  </div>
</nav>
