<div ng-controller="SignInController">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div id="group-contact-login" class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title"><h1>Sign In for Laughs. Hilariash.</h1></div>
            <div class="panel-body">
              <div class="clr"><hr /></div>
              <form class="form-signin">
                <h3>so.funny.</h3>
                  <input type="text" class="form-control"  placeholder="Email" required="" autofocus ng-model="email"><br />
                  <input type="password" class="form-control" placeholder="Password" required="" autofocus ng-model="password"><br />
                  <md-button class="btn md-button btn-info btn-block md-ink-ripple" ng-click="signIn()">Sign In</md-button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
