<!-- All Videos Section  with ng-repeat filtered by newest  - then 2 lists -
most viewed and most liked with vote buttons next to them -->
<div class=""><h2>All of the Videos</h2>
  <table>
    <tr ng-repeat="video in allVideos"></tr>
      <tr ng-repeat="video in allVideos | orderBy:'attributes.created_at':true"></tr>

      <td><h2>Title: {{ video.title }}<br />
        <h3>URL: {{ video.url }} <br />
          Number of Views: {{ video.view_tally }}<br />
          Love It! {{ video.vote_tally.votesUp }}<br />
          So. Not. Funny. {{ video.vote_tally.votesDown }}<br />
          This videos was added on {{ video.created_at }}</h3><br />
          <input class="btn btn-default" ng-click="votedUp()" type="votedUp" name = "votedUp" value="votedUp" />
          <input class="btn btn-default" ng-click="votedDown()" type="votedDown" name = "votedDown" value="votedDown" />
          <button ng-click="deleteVideo()">Delete this video!</button>
        </h2></td>
</table>
</div>

<div class="allVideos" ng-show="show1" ng-repeat="video in allVideos | orderBy:'attributes.created_at':true">
  <div class="video col-md-6">
    <a class="videoLink" target="_blank" href="{{video.attributes.url}}" ng-click="addView(video.id)">{{video.attributes.title}}</a>
    <h4>Date Added: {{video.attributes.created_at}}</h4>
    <h4>Votes: {{video.attributes.vote_tally}}</h4>
    <h4>Views: {{video.attributes.view_tally}}</h4>
    <button class="thumbsUp" ng-click="upVote(video.id)"></button>
    <button class="thumbsDown" ng-click="downVote(video.id)"></button>
  </div>
</div>

<section ng-init = "getNewestVideos()">
  <h2>Newest Videos</h2>
  <table st-table="videos" st-safe-src="newest">


  </table>
</section>
        <!--video of videoVontroller or something for angular magic  -->
<table>


<tr>
          <label for="filter"> Vote on It!  :  </label><select name="filter" ng-model="filterBy">
                  <!--top 10 newest videos uploaded to be filtered by timestamp  -->
                  <option value=""> Is this funny? </option>
                  <option value="false"> Hilariash! </option>
                  <option value="true"> Not. Funny. </option>
                </select>

            </tr>

              <!-- //VIDEO
              // id         :string   ef572226-7b56-401b-89fc-7aa8b3642f27
              // title      :string   Human-readable title of the Video "The Mountain"
              // url        :string   The full URI path to the location of the Video http://vimeo.com/22439234
              // slug       :string   Machine-readble version of the Video title the-mountain
              // view_tally :number   Number of times the Video has been viewed 2
              // vote_tally :number   Sum of the Video's vote-ups and vote-downs 1
              // created_at   :string   Created timestamp in ISO 8601 format 2014-04-14T02:15:15Z
              // updated_at   :string   Updated timestamp in ISO 8601 format  2014-04-14T02:15:15Z -->




</table>

<table class="container-fluid">
        <!--filter by most views  -->
  <h2>Most Views</h2>

      <td colspan="8">Most Viewed Top Ten!</td>
      <!--First, parse the JSON into an array of Objects:

var data = JSON.parse(json);
Then combine sort and slice to achieve your goal:

var top10 = data.sort(function(a, b) { return a.Variable1 < b.Variable1 ? 1 : -1; })
              .slice(0, 10);  -->


</table>
<table>
  <thead>
        <!--filter by most views  -->
        <h2>Most Votes</h2>

      <td colspan="8">Most Up Votes Top Ten!</td>
      <!--First, parse the JSON into an array of Objects:

        var data = JSON.parse(json);
        Then combine sort and slice to achieve your goal:

        var top10 = data.sort(function(a, b) { return a.Variable1 < b.Variable1 ? 1 : -1; })
                      .slice(0, 10);  -->

  </thead>
</table>



  	<tbody>


    Search for your Favorite. Remember? That one with the...
          <input st-search="" placeholder="Search by Title. Maybe." type="text"/>


  	</tbody>


<!-- Update with Votes -->

<div id="groups-column" class="col-sm-9">
      <md-card id="groups-container">
      <md-content layout="row" layout-wrap class="cardsContainer">
        <div flex="33" flex-sm="50" flex-xs="80" class="md-padding flip" ng-repeat="group in groups | filter: locationStr | filter: sizeStr | filter: filterStr track by $index">
          <a class="group-link" ng-href="/#/groups/{{group.name}}">
            <md-card class="group-tile md-whiteframe-6dp face front" ng-mouseenter="description = !description" ng-mouseleave="description = !description">
                <img class="md-user-avatar" ng-src="{{group.photoURL}}" alt="" />
              <md-card-footer>
                <h3>{{group.name}}</h3>
                <p>{{group.location}}</p>
              </md-card-footer>
            </md-card>
          </a>
        </div>




<!-- Delete Video Modal -->
<h1>Ugh. Get RID of it!</h1>
</md-content>
</md-card>
</div>
